<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SALES_REPORT_by_Products_MAT_FOC</key>
	<dict>
		<key>DL</key>
		<string>1-7-2012</string>
		<key>groupName</key>
		<string>-</string>
		<key>id_customer</key>
		<string>E010525</string>
		<key>id_practice</key>
		<string>197</string>
		<key>id_product</key>
		<string>AH072082DAA</string>
		<key>id_user</key>
		<string>4404</string>
		<key>m0val</key>
		<string>0</string>
		<key>m_10val</key>
		<string>0</string>
		<key>m_11val</key>
		<string>0</string>
		<key>m_1val</key>
		<string>0</string>
		<key>m_2val</key>
		<string>0</string>
		<key>m_3val</key>
		<string>0</string>
		<key>m_4val</key>
		<string>0</string>
		<key>m_5val</key>
		<string>0</string>
		<key>m_6val</key>
		<string>0</string>
		<key>m_7val</key>
		<string>0</string>
		<key>m_8val</key>
		<string>0</string>
		<key>m_9val</key>
		<string>0</string>
		<key>matunitcur</key>
		<string>0</string>
		<key>matunitprv</key>
		<string>0</string>
		<key>matunitprv2</key>
		<string>0</string>
		<key>matvalcur</key>
		<string>0</string>
		<key>matvalprv</key>
		<string>3</string>
		<key>matvalprv2</key>
		<string>0</string>
		<key>period</key>
		<string>08/2011 - 07/2012</string>
		<key>pname</key>
		<string>Dectomax Injection 200ml</string>
		<key>tri_period</key>
		<string>p0</string>
	</dict>
	<key>SALES_REPORT_by_Products_MAT_Qty</key>
	<dict>
		<key>DL</key>
		<string>1-7-2012</string>
		<key>groupName</key>
		<string>-</string>
		<key>id_customer</key>
		<string>E010525</string>
		<key>id_practice</key>
		<string>197</string>
		<key>id_product</key>
		<string>37042</string>
		<key>id_user</key>
		<string>4404</string>
		<key>m0val</key>
		<string>2</string>
		<key>m_10val</key>
		<string>7</string>
		<key>m_11val</key>
		<string>0</string>
		<key>m_1val</key>
		<string>1</string>
		<key>m_2val</key>
		<string>0</string>
		<key>m_3val</key>
		<string>1</string>
		<key>m_4val</key>
		<string>4</string>
		<key>m_5val</key>
		<string>0</string>
		<key>m_6val</key>
		<string>1</string>
		<key>m_7val</key>
		<string>7</string>
		<key>m_8val</key>
		<string>5</string>
		<key>m_9val</key>
		<string>1</string>
		<key>matunitcur</key>
		<string>392.19998168945312</string>
		<key>matunitprv</key>
		<string>210.55999755859375</string>
		<key>matunitprv2</key>
		<string>0</string>
		<key>matvalcur</key>
		<string>29</string>
		<key>matvalprv</key>
		<string>16</string>
		<key>matvalprv2</key>
		<string>0</string>
		<key>period</key>
		<string>08/2011 - 07/2012</string>
		<key>pname</key>
		<string>Imaverol  100ml</string>
		<key>tri_period</key>
		<string>p0</string>
	</dict>
	<key>SALES_REPORT_by_Products_YTD_FOC</key>
	<dict>
		<key>DL</key>
		<string>1-7-2012</string>
		<key>aprval</key>
		<string>0</string>
		<key>augval</key>
		<string>0</string>
		<key>decval</key>
		<string>0</string>
		<key>febval</key>
		<string>0</string>
		<key>groupName</key>
		<string>-</string>
		<key>id_customer</key>
		<string>E010525</string>
		<key>id_practice</key>
		<string>197</string>
		<key>id_product</key>
		<string>96234</string>
		<key>id_user</key>
		<string>4404</string>
		<key>janval</key>
		<string>0</string>
		<key>julval</key>
		<string>0</string>
		<key>junval</key>
		<string>0</string>
		<key>marval</key>
		<string>0</string>
		<key>mayval</key>
		<string>0</string>
		<key>novval</key>
		<string>0</string>
		<key>octval</key>
		<string>0</string>
		<key>period</key>
		<string>2012</string>
		<key>pname</key>
		<string>Fertagyl 0.1 mg/ml </string>
		<key>sepval</key>
		<string>0</string>
		<key>tri_period</key>
		<string>p0</string>
		<key>ytdunitcur</key>
		<string>0</string>
		<key>ytdunitlprv</key>
		<string>0</string>
		<key>ytdunitprv2</key>
		<string>0</string>
		<key>ytdvalcur</key>
		<string>0</string>
		<key>ytdvalprv</key>
		<string>0</string>
		<key>ytdvalprv2</key>
		<string>0</string>
	</dict>
	<key>SALES_REPORT_by_Products_YTD</key>
	<dict>
		<key>DL</key>
		<string>1-7-2012</string>
		<key>aprval</key>
		<string>14.479999542236328</string>
		<key>augval</key>
		<string>0</string>
		<key>decval</key>
		<string>0</string>
		<key>febval</key>
		<string>0</string>
		<key>groupName</key>
		<string>-</string>
		<key>id_customer</key>
		<string>E010525</string>
		<key>id_practice</key>
		<string>197</string>
		<key>id_product</key>
		<string>37042</string>
		<key>id_user</key>
		<string>4404</string>
		<key>janval</key>
		<string>13.159999847412109</string>
		<key>julval</key>
		<string>28.959999084472656</string>
		<key>junval</key>
		<string>14.479999542236328</string>
		<key>marval</key>
		<string>57.919998168945313</string>
		<key>mayval</key>
		<string>0</string>
		<key>novval</key>
		<string>0</string>
		<key>octval</key>
		<string>0</string>
		<key>period</key>
		<string>2012</string>
		<key>pname</key>
		<string>Imaverol  100ml</string>
		<key>sepval</key>
		<string>0</string>
		<key>tri_period</key>
		<string>p0</string>
		<key>ytdunitcur</key>
		<string>9</string>
		<key>ytdunitlprv</key>
		<string>16</string>
		<key>ytdunitprv2</key>
		<string>0</string>
		<key>ytdvalcur</key>
		<string>129</string>
		<key>ytdvalprv</key>
		<string>210.55999755859375</string>
		<key>ytdvalprv2</key>
		<string>0</string>
	</dict>
	<key>SALES_REPORT_Customer_OrderBy_Qty</key>
	<dict>
		<key>DL</key>
		<string>1-7-2012</string>
		<key>aprval</key>
		<string>0</string>
		<key>augval</key>
		<string>0</string>
		<key>brand</key>
		<string>Lectade LA</string>
		<key>decval</key>
		<string>0</string>
		<key>febval</key>
		<string>0</string>
		<key>groupName</key>
		<string>-</string>
		<key>id_customer</key>
		<string>E010525</string>
		<key>id_practice</key>
		<string>197</string>
		<key>id_user</key>
		<string>4404</string>
		<key>janval</key>
		<string>0</string>
		<key>julval</key>
		<string>0</string>
		<key>junval</key>
		<string>6</string>
		<key>m0val</key>
		<string>0</string>
		<key>m_10val</key>
		<string>0</string>
		<key>m_11val</key>
		<string>1</string>
		<key>m_12val</key>
		<string>0</string>
		<key>m_1val</key>
		<string>6</string>
		<key>m_2val</key>
		<string>0</string>
		<key>m_3val</key>
		<string>0</string>
		<key>m_4val</key>
		<string>2</string>
		<key>m_5val</key>
		<string>0</string>
		<key>m_6val</key>
		<string>0</string>
		<key>m_7val</key>
		<string>0</string>
		<key>m_8val</key>
		<string>0</string>
		<key>m_9val</key>
		<string>0</string>
		<key>marval</key>
		<string>2</string>
		<key>matvalcur</key>
		<string>9</string>
		<key>matvalprv</key>
		<string>27</string>
		<key>matvalprv2</key>
		<string>12</string>
		<key>mayval</key>
		<string>0</string>
		<key>novval</key>
		<string>0</string>
		<key>octval</key>
		<string>0</string>
		<key>rankmatcustgroup</key>
		<string>0</string>
		<key>rankmatcustpractice</key>
		<string>0</string>
		<key>rankmatcusttotal</key>
		<string>0</string>
		<key>rankmatcustuser</key>
		<string>0</string>
		<key>rankmatgrouptotal</key>
		<string>0</string>
		<key>rankmatgroupuser</key>
		<string>0</string>
		<key>rankmatpracgroup</key>
		<string>0</string>
		<key>rankmatpractotal</key>
		<string>0</string>
		<key>rankmatpracuser</key>
		<string>0</string>
		<key>rankytdcustgroup</key>
		<string>0</string>
		<key>rankytdcustpractice</key>
		<string>0</string>
		<key>rankytdcusttotal</key>
		<string>0</string>
		<key>rankytdcustuser</key>
		<string>0</string>
		<key>rankytdgrouptotal</key>
		<string>0</string>
		<key>rankytdgroupuser</key>
		<string>0</string>
		<key>rankytdpracgroup</key>
		<string>0</string>
		<key>rankytdpractotal</key>
		<string>0</string>
		<key>rankytdpracuser</key>
		<string>0</string>
		<key>runningmatvalcur</key>
		<string>0</string>
		<key>runningytdvalcur</key>
		<string>0</string>
		<key>sepval</key>
		<string>0</string>
		<key>ytdvalcur</key>
		<string>8</string>
		<key>ytdvalprv</key>
		<string>24</string>
		<key>ytdvalprv2</key>
		<string>12</string>
	</dict>
	<key>SALES_REPORT_Customer_OrderBy</key>
	<dict>
		<key>DL</key>
		<string>1-7-2012</string>
		<key>aprval</key>
		<string>0</string>
		<key>augval</key>
		<string>0</string>
		<key>brand</key>
		<string>Apralan</string>
		<key>decval</key>
		<string>0</string>
		<key>febval</key>
		<string>0</string>
		<key>groupName</key>
		<string>-</string>
		<key>id_customer</key>
		<string>E010525</string>
		<key>id_practice</key>
		<string>197</string>
		<key>id_user</key>
		<string>4404</string>
		<key>janval</key>
		<string>0</string>
		<key>julval</key>
		<string>0</string>
		<key>junval</key>
		<string>0</string>
		<key>m0val</key>
		<string>0</string>
		<key>m_10val</key>
		<string>0</string>
		<key>m_11val</key>
		<string>0</string>
		<key>m_12val</key>
		<string>0</string>
		<key>m_1val</key>
		<string>0</string>
		<key>m_2val</key>
		<string>0</string>
		<key>m_3val</key>
		<string>0</string>
		<key>m_4val</key>
		<string>0</string>
		<key>m_5val</key>
		<string>0</string>
		<key>m_6val</key>
		<string>0</string>
		<key>m_7val</key>
		<string>0</string>
		<key>m_8val</key>
		<string>0</string>
		<key>m_9val</key>
		<string>0</string>
		<key>marval</key>
		<string>0</string>
		<key>matvalcur</key>
		<string>0</string>
		<key>matvalprv</key>
		<string>87.839996337890625</string>
		<key>matvalprv2</key>
		<string>0</string>
		<key>mayval</key>
		<string>0</string>
		<key>novval</key>
		<string>0</string>
		<key>octval</key>
		<string>0</string>
		<key>rankmatcustgroup</key>
		<string>0</string>
		<key>rankmatcustpractice</key>
		<string>0</string>
		<key>rankmatcusttotal</key>
		<string>0</string>
		<key>rankmatcustuser</key>
		<string>0</string>
		<key>rankmatgrouptotal</key>
		<string>0</string>
		<key>rankmatgroupuser</key>
		<string>0</string>
		<key>rankmatpracgroup</key>
		<string>0</string>
		<key>rankmatpractotal</key>
		<string>0</string>
		<key>rankmatpracuser</key>
		<string>0</string>
		<key>rankytdcustgroup</key>
		<string>0</string>
		<key>rankytdcustpractice</key>
		<string>0</string>
		<key>rankytdcusttotal</key>
		<string>0</string>
		<key>rankytdcustuser</key>
		<string>0</string>
		<key>rankytdgrouptotal</key>
		<string>0</string>
		<key>rankytdgroupuser</key>
		<string>0</string>
		<key>rankytdpracgroup</key>
		<string>0</string>
		<key>rankytdpractotal</key>
		<string>0</string>
		<key>rankytdpracuser</key>
		<string>0</string>
		<key>runningmatvalcur</key>
		<string>0</string>
		<key>runningytdvalcur</key>
		<string>0</string>
		<key>sepval</key>
		<string>0</string>
		<key>ytdvalcur</key>
		<string>0</string>
		<key>ytdvalprv</key>
		<string>87.839996337890625</string>
		<key>ytdvalprv2</key>
		<string>0</string>
	</dict>
	<key>SALES_REPORT_CustomerDistribution</key>
	<dict>
		<key>id_user</key>
		<string>1-7-2012</string>
		<key>ctype</key>
		<string>0</string>
		<key>plevel</key>
		<string>0</string>
		<key>ptype</key>
		<string>Apralan</string>
		<key>brand</key>
		<string>0</string>
		<key>id_product</key>
		<string>0</string>
		<key>pname</key>
		<string>-</string>
		<key>DL</key>
		<string>E010525</string>
		<key>interval</key>
		<string>197</string>
		<key>id_customer</key>
		<string>0</string>
		<key>pvalprv</key>
		<string>0</string>
		<key>pvalcur</key>
		<string>0</string>
	</dict>
</dict>
</plist>
